.comment {
	margin-top: 1em;
	box-shadow: 0 0 0.25em 0 black;
	border-radius: 0.5em;
	display: flex;
	overflow: hidden;
}

.comment___ratings {
	background-color: #eee;
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.comment__body {
	padding: 1em;
}
