.background {
	background-color: #333;
	color: #333;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 2;
	display: grid;
	place-items: center;
}

.managementform {
	background-color: #fff;
	position: fixed;
	display: flex;
	flex-direction: column;
	gap: 1em;
	width: 50vw;
	min-height: 50vh;
	box-shadow: 0 0 0.2em 0 black;
}

.managementform__info {
	text-align: center;
	box-shadow: 0 0.05em 0.05em 0 black;
	padding: 1em;
}

.managementform__header {
	background-color: black;
	display: flex;
}

.managementform__title {
	padding: 1em;
}

.managementform__title__input {
	width: 100%;
	padding: 0.5em;
	height: 5ch;
	font-size: 1rem;
	font-weight: bold;
}

.managementform__text {
	margin-bottom: 0.2em;
	color: #ef465c;
}

.managementform__close {
	background-color: #333;
	color: #fff;
	padding: 0.5em 1em;
	margin-left: auto;
	border: none;
}

.managementform__submit {
	width: 50%;
	align-self: center;
	padding: 1em;
	margin-bottom: 1em;
	border: none;
	border-radius: 0.5em;
}

.managementform__submit:hover {
	cursor: pointer;
	background-color: #ef465c;
	color: #fff;
}

.managementform__close:hover {
	cursor: pointer;
	background-color: red;
	color: #fff;
}

.lookup__dropdown--com {
	position: fixed;
	width: 30%;
	display: flex;
	flex-direction: column;
	max-height: 50vh;
	overflow-y: auto;
}

.lookup__dropdown__item--com {
	background-color: #fff;
	padding: 0.2em;
}

.lookup__dropdown__item--com:hover {
	/* background-color: #ef465c; */
	cursor: pointer;
	background-color: lightcoral;
}
