.postcard {
	padding: 1em;
	display: flex;
	flex-direction: column;
	transition: 100ms ease-in-out;
	text-decoration: none;
	color: black;
	border-radius: 1em;
}

.postcard--big {
	grid-row: span 2;
}

.postcard__text {
	overflow-wrap: break-word;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-top: 1em;
	height: 100%;
}
.postcard__footer {
	text-align: center;
	font-size: 1.5em;
}

.postcard:hover {
	cursor: pointer;
	transform: translateY(0.5em);
}
