.post {
	max-width: 100ch;
	margin: auto;
}

.post__top {
	display: flex;
	flex-direction: column;
	background-color: #eee;
	box-shadow: 0 0 0.25em 0 black;
}

.post__top__title {
	padding: 1em;
	color: #ef465c;
}

.post__top__body {
	background-color: #fff;
	padding: 1em;
	color: #333;
}

.post__comments {
	margin-top: 1em;
	box-shadow: 0 0 0.25em 0 black;
	padding: 1em;
}

.post__comments__form {
	max-width: 80%;
	margin: auto;
	padding: 1em;
	background-color: #fff;
	text-align: center;
	box-shadow: 0 0 0.25em 0 black;
	border-radius: 0.5em;
}

.post__comments__list {
	max-width: 80%;
	margin: auto;
	padding: 1em;
	text-align: center;
	margin-top: 1em;
	list-style: none;
}

.post__comments__list > * {
	padding: 1em;
	margin-top: 1em;
	box-shadow: 0 0 0.25em 0 black;
	border-radius: 0.5em;
	background-color: #ee9ba6;
}
