.navbar {
	position: relative;
	z-index: 1;
	display: flex;
	padding: 1em;
	background-color: #fff;
	box-shadow: 0 0 0.25em 0 black;
	gap: 1em;
	align-items: center;
}

.navbar__home > * {
	width: 5em;
}

.navbar__home {
	margin-left: 1em;
	margin-right: auto;
}

.navbar__search {
	position: relative;
	margin-right: auto;
	display: flex;
	gap: 1em;
	align-items: center;
	flex-basis: 50ch;
}

.navbar__search__button {
	font-size: 1rem;
	font-weight: bold;
	flex-grow: 1;
	background-color: #ee9ba6;
	color: #fff;
	border-style: none;
	border-radius: 1em;
	padding: 0.5em;
}

.navbar__search__button:hover {
	cursor: pointer;
	background-color: #ef465c;
}

.navbar__search__button--expand {
	border-radius: 0;
}

.navbar__link {
	font-size: 1.3rem;
	text-decoration: none;
	color: #333;
	transition: 100ms ease-in-out;
}

.navbar__link:hover {
	transform: translateY(0.2em);
	color: #ef465c;
}

.navbar__link--profile {
	margin-right: 2em;
}

.popups {
	z-index: 2;
	position: absolute;
}

.popups__home {
	background-color: #333;
	color: #fff;
	padding: 0.5em;
	width: 5em;
	text-align: center;
	transform: translate(2em, -0.5em);
	animation: fadeIn ease 800ms;
}

.dropdown {
	list-style: none;
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 100%;
	width: 100%;
	animation: fadeIn ease 500ms;
}

.dropdown__item {
	text-align: center;
	background-color: #ee9ba6;
	padding: 0.5em;
	font-size: 1rem;
	font-weight: bold;
	color: #fff;
	border: none;
	text-decoration: none;
}

.dropdown__item:hover {
	cursor: pointer;
	background-color: #ef465c;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
